// The main container element
.Collapsible {
    background: lighten($warm-yellow, 20%);
  }
  
  
  //The content within the collaspable area
  .Collapsible__contentInner {
    padding: 10px;
    border: 1px solid $lightGrey;
    border-top: 0;
  
    p {
      margin-bottom: 10px;
      font-size: $s-size;
      line-height: 20px;
  
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  
  //The link which when clicked opens the collapsable area
  .Collapsible__trigger {
    display: block;
    font-weight: 400;
    text-decoration: none;
    color: $grey;
    cursor: pointer;
    position: relative;
    border: 1px solid white;
    padding: 10px;
    background: $warm-yellow;
    color: black;
  
  
    &:after {
      font-family: 'FontAwesome';
      content: '\f107';
      position: absolute;
      right: 10px;
      top: 10px;
      display: block;
      transition: transform 300ms;
    }
  
    &.is-open {
      &:after {
        transform: rotateZ(180deg);
      }
    }
  
    &.is-disabled {
      opacity: 0.5;
      background-color: grey;
    }
  }
  

  .Collapsible__content {
    border: 1px solid black;
    border-radius: 5px;
    padding: 0px;
    background-color: lighten($warm-yellow, 5%);
    color: black;
  }

  .Collapsible__container {
    border-bottom: 1px solid black;
  }

  .Collapsible__h2 {
    color: black;
  }

  .Collapsible__item {
    padding: 5px;
  }

  .Collapsible__container:nth-child(even) {
    background-color: lighten($warm-yellow, 10%);
}