// Colors
$yellow:  rgb(248, 159, 0);
$cyan:    rgb(0, 172, 157);
$grey:    rgb(51, 51, 51);
$black:   rgb(38, 38, 38);
$base:    rgb(255, 255, 255);
$lightGrey:    rgb(235, 235, 235);
$off-white: #a5afd7;
$purple: #8357c5;

$navy-blue: #18121E;
$gunmetal: #233237;
$rusty-red: #984b43;
$warm-yellow: #EAC67A;

// Spacing
$xs-size: 0.6rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

$BASE_FONT_SIZE: 1rem;

$breakpointMega: 1600px;
$breakpointLarge: 990px;
$breakpointMed: 767px;

